RegistroUsuarios/App_WebReferences/wsSNUno/wsPacientes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://omar.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://omar.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web Service de Pacientes</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://omar.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Obtener">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerResult" type="tns:ResPaciente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResPaciente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="pacientes" type="tns:ArrayOfEntPaciente" />
          <s:element minOccurs="1" maxOccurs="1" name="esError" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="mensajeError" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sexos" type="tns:ArrayOfEntSexo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEntPaciente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EntPaciente" nillable="true" type="tns:EntPaciente" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EntPaciente">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Estatus" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Paterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Materno" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdSexo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Sexo" type="tns:EntSexo" />
          <s:element minOccurs="0" maxOccurs="1" name="Calle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Numero" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdDelegacion" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Delegacion" type="tns:EntDelegacion" />
          <s:element minOccurs="1" maxOccurs="1" name="IdColonia" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Colonia" type="tns:EntColonia" />
          <s:element minOccurs="0" maxOccurs="1" name="Horario" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Edad" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Alergia" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaAlta" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EntSexo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EntDelegacion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EntColonia">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdDelegacion" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEntSexo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EntSexo" nillable="true" type="tns:EntSexo" />
        </s:sequence>
      </s:complexType>
      <s:element name="Insertar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="materno" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sexo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="calle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numero" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="delegacion" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="colonia" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="horario" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="edad" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="alergias" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarResponse">
        <s:complexType />
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="ResPaciente" nillable="true" type="tns:ResPaciente" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerSoapIn">
    <wsdl:part name="parameters" element="tns:Obtener" />
  </wsdl:message>
  <wsdl:message name="ObtenerSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarSoapIn">
    <wsdl:part name="parameters" element="tns:Insertar" />
  </wsdl:message>
  <wsdl:message name="InsertarSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerHttpGetIn" />
  <wsdl:message name="ObtenerHttpGetOut">
    <wsdl:part name="Body" element="tns:ResPaciente" />
  </wsdl:message>
  <wsdl:message name="InsertarHttpGetIn">
    <wsdl:part name="nombre" type="s:string" />
    <wsdl:part name="paterno" type="s:string" />
    <wsdl:part name="materno" type="s:string" />
    <wsdl:part name="sexo" type="s:string" />
    <wsdl:part name="calle" type="s:string" />
    <wsdl:part name="numero" type="s:string" />
    <wsdl:part name="delegacion" type="s:string" />
    <wsdl:part name="colonia" type="s:string" />
    <wsdl:part name="horario" type="s:string" />
    <wsdl:part name="edad" type="s:string" />
    <wsdl:part name="alergias" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertarHttpGetOut" />
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerHttpPostIn" />
  <wsdl:message name="ObtenerHttpPostOut">
    <wsdl:part name="Body" element="tns:ResPaciente" />
  </wsdl:message>
  <wsdl:message name="InsertarHttpPostIn">
    <wsdl:part name="nombre" type="s:string" />
    <wsdl:part name="paterno" type="s:string" />
    <wsdl:part name="materno" type="s:string" />
    <wsdl:part name="sexo" type="s:string" />
    <wsdl:part name="calle" type="s:string" />
    <wsdl:part name="numero" type="s:string" />
    <wsdl:part name="delegacion" type="s:string" />
    <wsdl:part name="colonia" type="s:string" />
    <wsdl:part name="horario" type="s:string" />
    <wsdl:part name="edad" type="s:string" />
    <wsdl:part name="alergias" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertarHttpPostOut" />
  <wsdl:portType name="wsPacientesSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <wsdl:input message="tns:ObtenerSoapIn" />
      <wsdl:output message="tns:ObtenerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <wsdl:input message="tns:InsertarSoapIn" />
      <wsdl:output message="tns:InsertarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="wsPacientesHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <wsdl:input message="tns:ObtenerHttpGetIn" />
      <wsdl:output message="tns:ObtenerHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <wsdl:input message="tns:InsertarHttpGetIn" />
      <wsdl:output message="tns:InsertarHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="wsPacientesHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <wsdl:input message="tns:ObtenerHttpPostIn" />
      <wsdl:output message="tns:ObtenerHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <wsdl:input message="tns:InsertarHttpPostIn" />
      <wsdl:output message="tns:InsertarHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsPacientesSoap" type="tns:wsPacientesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://omar.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <soap:operation soapAction="http://omar.org/Obtener" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <soap:operation soapAction="http://omar.org/Insertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsPacientesSoap12" type="tns:wsPacientesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://omar.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <soap12:operation soapAction="http://omar.org/Obtener" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <soap12:operation soapAction="http://omar.org/Insertar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsPacientesHttpGet" type="tns:wsPacientesHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <http:operation location="/Obtener" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <http:operation location="/Insertar" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsPacientesHttpPost" type="tns:wsPacientesHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <http:operation location="/Obtener" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <http:operation location="/Insertar" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsPacientes">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web Service de Pacientes</wsdl:documentation>
    <wsdl:port name="wsPacientesSoap" binding="tns:wsPacientesSoap">
      <soap:address location="http://localhost:43806/RegistroUsuarios/wsPacientes.asmx" />
    </wsdl:port>
    <wsdl:port name="wsPacientesSoap12" binding="tns:wsPacientesSoap12">
      <soap12:address location="http://localhost:43806/RegistroUsuarios/wsPacientes.asmx" />
    </wsdl:port>
    <wsdl:port name="wsPacientesHttpGet" binding="tns:wsPacientesHttpGet">
      <http:address location="http://localhost:43806/RegistroUsuarios/wsPacientes.asmx" />
    </wsdl:port>
    <wsdl:port name="wsPacientesHttpPost" binding="tns:wsPacientesHttpPost">
      <http:address location="http://localhost:43806/RegistroUsuarios/wsPacientes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>